# Dependency directories
node_modules/

# typescript compiler output
dist/

# dotenv config file
.env

#config files
/config/environment/test.json
/config/environment/development.json
/config/environment/production.json